<%= form_for @article, :url => article_path(@article) do |f| %>

   <%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Update",:class => "btn btn-primary" %>
<% end %>

<p><%= link_to 'Cancel', articles_path, :class => "btn btn-default" %></p>